<html>
  <head>
    <title>{{ title }}</title>

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script> 
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems);
        });
      </script>
  </head>

  <body>
    <nav class="grey darken-4">
      <div class="nav-wrapper container">
        <a class="" href="/schools/{{schoolData.id}}">Uni Confessions</a>
        <a class="sidenav-trigger" data-target="mobile-nav" href="#">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/schools/">Schools</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/schools/">Schools</a>
      </li>
    </ul>
    <div class="container">
      {% for message in flash %}
        <script>
          M.toast({html: '{{message.message}}'});
        </script>
      {% endfor %}

      <div class="row">
        <div class="col s1" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 2rem;">
          <form action="/vote/" method="POST" style="margin: 0px;">
            <input type="hidden" name="voteId" value="{{postData.voteId}}">
            <input name="action" type="hidden" value="upvote">
            <button style="border: 0px; background: white; cursor: pointer;">
              <i class="material-icons">keyboard_arrow_up</i>
            </button>
          </form>
          {{postData.votes}}
          <form action="/vote/" method="POST" style="margin: 0px;">
            <input type="hidden" name="voteId" value="{{postData.voteId}}">
            <input name="action" type="hidden" value="downvote">
            <button style="border: 0px; background: white; cursor: pointer;">
              <i class="material-icons">keyboard_arrow_down</i>
            </button>
          </form>
        </div>
        <div class="col s11">
          <h3>{{title}}</h3>
          <p>{{postData.body}}</p>
          {% if postData.canDeletePost %}
            <form action="/delete/post" method="POST">
              <input type="hidden" name="postId" value="{{postData.id}}">
              <button class="waves-effect waves-light btn-small red">
                Delete this post
                <i class="material-icons left">delete</i>
              </button>
            </form>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="grey-text" style="display: flex; align-items: center;">
            <i class="tiny material-icons">comment</i>
            {{commentData.length}}
            Comments
          </p>
        </div>
        <div class="col">
          <p class="grey-text" style="display: flex; align-items: center;">
            <i class="tiny material-icons">access_time</i>
            {{postData.createDate | date: "%B %d, %Y"}}
          </p>
        </div>
      </div>

      <form action="/schools/{{schoolData.id}}/{{postData.id}}/new" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <label for="body">What do you think?</label>
            <textarea class="materialize-textarea" name="body"></textarea>
          </div>
          <div class="col s12">
            <button class="btn waves-effect waves-light grey darken-4" name="action" type="submit">
              Post Comment
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>

      <div class="divider"></div>


      {% if commentData.length > 0 %}
        {% for comment in commentData %}
          <div class="row">
            <div class="col s1" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <form action="/vote/" method="POST" style="margin: 0px;">
                <input type="hidden" name="voteId" value="{{comment.voteid}}">
                <input name="action" type="hidden" value="upvote">
                <button style="border: 0px; background: white; cursor: pointer;">
                  <i class="material-icons">keyboard_arrow_up</i>
                </button>
              </form>
              {{comment.count}}
              <form action="/vote/" method="POST" style="margin: 0px;">
                <input type="hidden" name="voteId" value="{{comment.voteid}}">
                <input name="action" type="hidden" value="downvote">
                <button style="border: 0px; background: white; cursor: pointer;">
                  <i class="material-icons">keyboard_arrow_down</i>
                </button>
              </form>
            </div>
            <div class="col s11">
              <p>{{comment.body}}</p>
              <p class="grey-text">{{comment.createdate | date "%B %d, %Y"}}</p>
              {% if comment.canDeleteComment %}
                <form action="/delete/comment" method="POST">
                  <input type="hidden" name="commentId" value="{{comment.id}}">
                  <button class="waves-effect waves-light btn-small red">
                    Delete this Comment<i class="material-icons left">delete</i>
                  </button>
                </form>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="row">
          <p>There aren't any comments on this post yet! leave one!</p>
        </div>
      {% endif %}

    </div>
  </body>
</html>
